@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        //stroke-width: 8px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        //stroke-width: 2px;
    }
}

.tooltip > .tooltip-inner {
    background-color: #666;
    min-width: 300px;
    text-align: left;
    padding: 5px;
}

.processing-blockui{
	background: url("../images/spinner.gif") no-repeat center center ; 
	display: block;
    height: 100%;
    min-height: 90px;
    min-width: 100px;
    width: 100%;
    background-size:90%
}

.interactive-icon{
	background: url("../images/Interactive.png") no-repeat center center ; 
	background-size:40%;
	align-self:center;
    height: 100px; 
    width: 100px;    
}

